<table class="foot-grid" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td width="57%" valign="top">
            <p class="foot-label">Notes de conformité</p>
            <p class="foot-text">
                Les données présentées dans ce rapport ont été vérifiées et validées par le système automatisé d'identification biométrique (AFIS). Tout agent marqué comme 'ACTIF' a complété son enrôlement avec succès, incluant les dix empreintes digitales et la capture faciale conforme aux normes OACI.
            </p>
        </td>
        <td width="43%" valign="top" align="right">
            <p class="foot-label" style="text-align:right;">Signature &amp; Sceau</p>
            <table class="sign-box" cellpadding="0" cellspacing="0"><tr><td>&nbsp;</td></tr></table>
            <p class="sign-name">La Direction Générale</p>
            <p class="sign-place">ONIP - Kinshasa, RDC</p>
        </td>
    </tr>
</table>

<table class="page-foot" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td width="52%" class="page-foot-left" valign="top">
            CONFIDENTIEL - USAGE INTERNE UNIQUEMENT
        </td>
        <td width="48%" class="page-foot-right" valign="top">
            Généré le {{ generated_at_label }} | Page <pdf:pagenumber /> sur <pdf:pagecount />
        </td>
    </tr>
</table>
