body.topBarDisabled {
    font-size: 1.15em;
}

#leftColumn {
    width: 350px;
}

.container {
    margin-left: 350px;
    padding: 0 30px;
}

.prettyprint {
    background-color: #2F354A;
    margin: 30px 0;
    font-size: 0.95em;
}

blockquote {
    background-color: #EACFD5;
    margin-left: -30px !important;
    margin-right: -30px !important;
    padding-left: 58px !important;
    padding-right: 58px !important;
}
