{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
<div class="onip-form-page">
    <div class="onip-form-header">
        <div class="row">
            <div class="col-lg-8 text-start">
                <h1 class="onip-form-title">{% trans 'Modifier le mot de passe' %}</h1>
            </div>
            <div class="col-lg-4 onip-form-header-actions">
                <button type="submit" form="form-password-change" class="onip-btn-save">
                    <i class="bi bi-floppy me-1"></i>{% trans 'Sauvegarder' %}
                </button>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="onip-form-card">
            <div class="onip-form-tab-content">
                <form method="post" class="onip-form" id="form-password-change">
                    {% csrf_token %}
                    {{ form|crispy }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
