{% extends 'registration/base.html' %}

{% load i18n %}

{% block auth_content %}
    <h1 class="auth-title">{% trans "Nous vous avons envoyé un courriel" %}</h1>
    <p class="auth-subtitle">{% trans "Les instructions pour définir votre mot de passe, si un compte existe avec l'adresse électronique que vous avez indiquée. Vous devriez les recevoir sous peu." %}</p>

    <p class="text-muted">
        {% trans "Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable." %}
    </p>

    <div class="auth-footer-note">
        <p class="mb-0">
          <a href="{% url 'login' %}">{% trans 'Retour à la connexion' %}</a>
        </p>
    </div>
{% endblock %}
