{% extends 'registration/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block auth_content %}
    <h1 class="auth-title">{% trans 'Mot de passe oublié' %}</h1>
    <p class="auth-subtitle">{% trans 'Saisissez votre adresse électronique et nous vous enverrons un lien de réinitialisation du mot de passe.' %}</p>

    <form method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group position-relative has-icon-left mb-3">
              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" placeholder=field.label %}
                  {% for error in field.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                {% else %}
                  {% render_field field class="form-control" placeholder=field.label %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" placeholder=field.label %}
              {% endif %}
                <div class="form-control-icon">
                    {% if field.name == 'username' or field.name == 'email' %}
                    <i class="bi bi-envelope"></i>
                    {% elif field.name == 'password' %}
                    <i class="bi bi-lock"></i>
                    {% endif %}
                </div>
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
        </div>
      {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">{% trans 'Envoyer' %}</button>
    </form>
    <div class="auth-footer-note">
        <p class="mb-0">
          {% trans 'Vous vous souvenez de votre compte ?' %}
          <a href="{% url 'login' %}">{% trans 'Se connecter' %}</a>
        </p>
    </div>
{% endblock %}
