DATABASE_URL=postgresql://payday:payday@payday-db:5432/payday
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
REDIS_URL=redis://redis:6379/0

KEYCLOAK_SERVER_URL=http://localhost:8080/auth
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_BASE_PATH=
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=payday
KEYCLOAK_CLIENT_SECRET_KEY=change-me
KEYCLOAK_CLIENT_ADMIN_ROLE=admin
KEYCLOAK_REALM_ADMIN_ROLE=admin
KEYCLOAK_EXEMPT_URIS=

PASSWORD_RESET_REDIRECT_URL=http://localhost:8080/realms/master/login-actions/reset-credentials
